{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="box">
    <div class='row text-info mt-3'id="popular-search">

    </div>
    <div class='row text-primary mt-5'>
        <div class="col-6">
            <div class="row ml-2">
                <div class="col pl-5" id="stock-name"></div>
                <div class="col-5">
                  {% if data in fav %}
                    <form method="POST" action="/users/remove_fav/{{data}}" id="fav-form">
                      <button class="btn btn-sm btn-primary">
                        <i class="fa fa-thumbs-up"></i> 
                      </button>
                    </form>
                  {% else %}
                    <form method="POST" action="/users/add_fav/{{data}}" id="fav-form">
                        <button class="btn btn-sm btn-secondary">
                          <i class="fa fa-thumbs-up"></i> 
                        </button>
                    </form>
                  {% endif %}
                </div>
                
                <div class="col box">
                  <form action="/{{data}}" method='POST' class="form">
                    <div class="input-group mb-3" id='input'>
                      <input type="text" class="form-control" id='search' name='tick'>
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><span class="fa fa-search"></span></i></button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="row ml-3 text-secondary">
              <div class="col ml-3" id='stock-data' style="font-size: 1.5rem;"></div>
              <div class="col-9">
                <div class="row" id='stock-data-2' style="font-size: 0.7rem;">deg</div>
                <div class="row" id='stock-data-3' style="font-size: 0.7rem;">deg</div>
              </div>
            </div>


            <div class="row mt-2 p-3">
              <div class="btn-group ml-3" role="group" aria-label="stock-buttons">
                <button type="button" data-bs-toggle="button" class="btn btn-primary visited" aria-pressed="true" id='summary'>Summary</button>
                <button type="button" data-bs-toggle="button" class="btn btn-primary" aria-pressed="false" id='financial'>Financial</button>
                <button type="button" data-bs-toggle="button" class="btn btn-primary" aria-pressed="false" id='analysis'>Analysis</button>
              </div>
            </div>

            <div class="row">
                <div class="col" id='myDiv'>
                </div>
            </div>
        </div>
        <section class='col-5 summary-container'>
          <div class="bg-secondary text-secondary mt-2 mx-2 p-2" style="font-size: 1.5rem; text-align: center;">Summary
            <table class="table table-hover table-secondary" style="text-align: left;">
              <tbody id='summary-data' style="font-size: 0.7rem;">
              
              </tbody>
            </table>
          </div>
        </section>
        <section class='col-5 financial-container bg-secondary text-secondary mt-2 ml-4 hidden p-2' style="font-size: 1.5rem; text-align: center;">Financial
          <!-- <div class="" id='financial'>Financial -->
            <div class="row p-2">
              <div class="btn-group" role="group" aria-label="stock-buttons">
                <button type="button" class="btn btn-outline-info btn-sm visited" id='income-statement'>Income Statement</button>
                <button type="button" class="btn btn-outline-info btn-sm" id='balance-sheet'>Balance Sheet</button>
                <button type="button" class="btn btn-outline-info btn-sm" id='cash-flow'>Cash Flow</button>
              </div>
            </div>
            <section class='income-statement-container hidden'>
              <table class="table table-hover" style="text-align: left;">
                <thead>
                  <tr>
                    <th scope='col'>Values in Millions (Except per Share Items)</th>
                    <th scope="col">2017</th>
                    <th scope="col">2018</th>
                    <th scope="col">2019</th>
                    <th scope="col">2020</th>
                  </tr>
                </thead>
                <tbody id='financial-data' style="font-size: 0.7rem;">
                  
                </tbody>
              </table>
            </section>
            <section class='balance-sheet-container hidden'>
              <table class="table table-hover" style="text-align: left;">
                <thead>
                  <tr>
                    <th scope='col'>Values in Millions</th>
                    <th scope="col">2017</th>
                    <th scope="col">2018</th>
                    <th scope="col">2019</th>
                    <th scope="col">2020</th>
                  </tr>
                </thead>
                <tbody id='balance-sheet-data' style="font-size: 0.7rem;">

                  
                </tbody>
              </table>
            </section>
            <section class='cash-flow-container hidden'>
              <table class="table table-hover" style="text-align: left;">
                <thead>
                  <tr>
                    <th scope='col'>Values in Millions</th>
                    <th scope="col">2017</th>
                    <th scope="col">2018</th>
                    <th scope="col">2019</th>
                    <th scope="col">2020</th>
                  </tr>
                </thead>
                <tbody id='cash-flow-data' style="font-size: 0.7rem;">
                  
                  
                </tbody>
              </table>
            </section>
          <!-- </div> -->
        </section>
        <section class='col-5 analysis-container hidden bg-secondary ml-4 p-2' style="font-size: 1.5rem; text-align: center;">Analysis
          <div class="row">
            <div class="col mt-2" id='analysis-data'>

            </div>
          </div>
          
        </section>
      </div>
  </div>

    <script src="http://unpkg.com/jquery"></script>
    <script src="http://unpkg.com/axios/dist/axios.js"></script>
    <script type="text/javascript">
        var companyname = '{{ data }}'
        var fav='{{fav}}'
    </script>
    <script src="/static/stock.js"></script>

{% endblock %}